.dashboard__text {
    all: unset;
    padding: 1vh;
    border-radius: 0.2vh;
    border: 0.2vh solid rgba($color: #fff, $alpha: 0.2);
    background-color: black;
    margin-bottom: 0.4vh;
    font-size: 1.5vh;
    color: white;
    width: 90%;
    height: 600px;
    &::placeholder {
        text-align:center;
        color: rgba(255, 255, 255, 0.7);
    }
}   