form {
  text-align:left;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:not(.search__form) {
    padding: 1vh ;
    background-color: rgba($color: $bg, $alpha: 0.7);
    border-radius: 0.2vh;
    border: 0.2vh solid rgba($color: #fff, $alpha: 0.1);
    }
  }
  
  input {
    display: block;
    &:not(.dashboard__text, input[type="range"]) {
    all: unset;
    padding: 1vh;
    border-radius: 0.2vh;
    border: 0.2vh solid rgba(255, 255, 255, 0.2);
    background-color: black;
    margin-bottom: 0.5vh;
    font-size: 1.5vh;
    color: white;
    width: 90%;
    &::placeholder {
      text-align:center;
      color: rgba(255, 255, 255, 0.7);
    }
    }
  }
  
  input[type="submit"],
  .social__btn {
    border-radius: 0.2vh;
    padding: 1vh;
    background-color: white;
    color: rgba($color: $red, $alpha: 1);
    text-align: center;
    cursor: pointer;
    display: block;
  }